
<div class="card">
  <img src="https://pluralsight2.imgix.net/paths/images/angular-14a0f6532f.png" alt="Avatar" style="width:100px">
  <div class="container">
    <h4><b>Angular</b></h4>
    <p>Architect & Engineer</p>
    <button>View Chapters</button>
  </div>
</div>
<div class="card">
  <img src="https://pluralsight2.imgix.net/paths/images/angular-14a0f6532f.png" alt="Avatar" style="width:100px">
  <div class="container">
    <h4><b>Node</b></h4>
    <p>Architect & Engineer</p>
    <button>View Chapters</button>
  </div>
</div>